.toolbar,
.toolbar__row
  position: relative
  display: flex
  box-sizing: border-box
  width: 100%

.toolbar
  flex-direction: column
  justify-content: space-between
  background-color: #3f51b5
  color: #fff

.toolbar__row
  padding: 20px 28px
  min-height: 64px
  height: auto

.toolbar__section
  z-index: 1
  display: inline-flex
  align-items: flex-start
  flex: 1
  justify-content: center
  min-width: 0

  &--align-start
    justify-content: flex-start
    order: -1

  &--align-end
    justify-content: flex-end
    order: 1

.toolbar__title
  z-index: 1
  overflow: hidden
  margin: 0
  text-overflow: ellipsis
  white-space: nowrap
  letter-spacing: .02em
  font-weight: 500
  font-size: 1.25rem
  font-family: 'Roboto', 'Helvetica', sans-serif
  line-height: 2rem
  line-height: 1.5rem

  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

.toolbar__icon
  width: 24px
  height: 24px
  background-size: contain
  background-repeat: no-repeat
