@import "../../node_modules/@material/dialog/dist/mdc.dialog.min"

html,
body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  font-family: 'Roboto', 'Helvetica', sans-serif
  font-weight: 400
  color: #444
  font-display: optional
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  background-color: #ececec

.github
  height: 24px
  width: 24px
  background-image: url(../images/github.png)
  background-repeat: no-repeat
  background-size: contain

.card
  padding: 16px
  position: relative
  box-sizing: border-box
  background-color: #fff
  border-radius: 2px
  margin: 16px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
  .description
    font-size: 1.1em
  .location
    font-size: 1.75em
  .current
    display: flex
    .icon
      width: 128px
      height: 128px
      background-repeat: no-repeat
      background-size: contain
    .visual
      display: flex
      font-size: 4em
      .scale
        font-size: 0.5em
        vertical-align: super
    .visual, .description
      flex-grow: 1
    .wind:before
      content: "Wind: "
      color: #888
    .clouds:before
      content: "Clouds: "
      color: #888

@media (max-width: 450px)
  .card
    .description
      font-size: 0.9em
    .current
      .icon
        width: 96px
        height: 96px
      .visual
        font-size: 3em

.toolbar,
.toolbar__row
  display: flex
  position: relative
  width: 100%
  box-sizing: border-box

.toolbar
  flex-direction: column
  justify-content: space-between
  background-color: #3f51b5
  color: #fff

.toolbar__row
  height: auto
  min-height: 64px
  padding: 20px 28px

.toolbar__section
  display: inline-flex
  flex: 1
  align-items: flex-start
  justify-content: center
  min-width: 0
  z-index: 1
  &--align-start
    justify-content: flex-start
    order: -1
  &--align-end
    justify-content: flex-end
    order: 1

.toolbar__title
  font-family: 'Roboto', 'Helvetica', sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 1.25rem
  font-weight: 500
  letter-spacing: .02em
  line-height: 2rem
  margin: 0
  line-height: 1.5rem
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  z-index: 1

.textfield
  font-family: 'Roboto', 'Helvetica', sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: 1rem
  letter-spacing: .04em
  display: inline-block
  margin-bottom: 8px
  will-change: opacity,transform,color

.textfield__input
  color: rgba(0, 0, 0, .87)
  padding: 0 0 8px
  border: none
  background: 0 0
  font-size: inherit
  appearance: none
  transition: border-bottom-color .18s cubic-bezier(.4, 0, .2, 1)
  border-bottom: 1px solid rgba(0, 0, 0, .12)
  &::placeholder
    color: rgba(0, 0, 0, 0.38)
    transition: color 0.18s cubic-bezier(0.4, 0, 0.2, 1)
    opacity: 1
  &:focus
    outline: none
    border-color: #3f51b5

.button
  will-change: transform,opacity
  -webkit-tap-highlight-color: transparent
  font-family: 'Roboto', 'Helvetica', sans-serif
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-size: .875rem
  letter-spacing: .04em
  line-height: 1.5rem
  color: rgba(0, 0, 0, 0.87)
  display: inline-block
  position: relative
  min-width: 64px
  height: 36px
  padding: 0 16px
  border: none
  border-radius: 2px
  outline: none
  background: transparent
  font-size: 14px
  font-weight: 500
  line-height: 36px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  overflow: hidden
  vertical-align: middle
  user-select: none
  box-sizing: border-box
  -webkit-appearance: none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.18)
  &:active:after, &:focus:before, &:hover:before
    transition-duration: 85ms
    opacity: .6
  &:before, &:after
    background-color: rgba(0, 0, 0, 0.06)
    position: absolute
    top: -50%
    left: -50%
    width: 200%
    height: 200%
    transition: opacity .25s linear
    border-radius: 50%
    opacity: 0
    pointer-events: none
    content: ""
  &:after
    transform-origin: center center
  &:active
    outline: none
  &:hover
    cursor: pointer
  &::-moz-focus-inner
    padding: 0
    border: 0
  &:disabled
    color: rgba(0, 0, 0, 0.26)
    cursor: default
    pointer-events: none
